CommunityProject/force-app/main/default/flows/Case_Information.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>SubmitNewChoiceOption</name>
        <choiceText>Submit New Ticket</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>unused1</name>
        <choiceText>&lt;b style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;To Submit New Ticket&lt;/b&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>ViewStatusofPreviousCase</name>
        <choiceText>View Status of Previous Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decision_For_Display_Record</name>
        <label>Decision For Display Record</label>
        <locationX>1001</locationX>
        <locationY>419</locationY>
        <defaultConnector>
            <targetReference>Case_Information_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_if_No_Case_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>casedata</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Case_Found</targetReference>
            </connector>
            <label>Decision if No Case Found</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CaseRegion</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseTypechoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Case Information {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Look For Case Information</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Display_Case_Status</name>
        <label>Display Case Status</label>
        <locationX>842</locationX>
        <locationY>416</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_For_Display_Record</targetReference>
        </connector>
        <filters>
            <field>CaseNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Enter_Case_Number</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>casedata</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Reason</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Origin</queriedFields>
        <queriedFields>Priority</queriedFields>
    </recordLookups>
    <screens>
        <name>Case_Information_Data</name>
        <label>Case Information Data</label>
        <locationX>1250</locationX>
        <locationY>415</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayOldCaseStatus</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 24px; color: rgb(32, 17, 234);&quot;&gt;Case Information&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;Case Number:-&lt;/b&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px; color: rgb(208, 13, 13);&quot;&gt;{!casedata.CaseNumber}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;Subject:-&lt;/b&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!casedata.Subject}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;Case Type:-&lt;/b&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!casedata.Type}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;Reason:-&lt;/b&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!casedata.Reason}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;Status:-&lt;/b&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!casedata.Status}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;Origin:-&lt;/b&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!casedata.Origin}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;Priority:-&lt;/b&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!casedata.Priority}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_New_Case_or_see_Status_of_old_Case_screen1</name>
        <label>Submit New Case or see Status of old Case</label>
        <locationX>421</locationX>
        <locationY>221</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>See_Status_of_Previous_Case</targetReference>
        </connector>
        <fields>
            <name>choice_of_case</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 20px; color: rgb(66, 37, 195);&quot;&gt;Case Request Page&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Selection_choice</name>
            <choiceReferences>ViewStatusofPreviousCase</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please Select What You Want to do:-</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Case_Found</name>
        <label>No Case Found</label>
        <locationX>1053</locationX>
        <locationY>583</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoCaseInformation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 24px; color: rgb(43, 14, 215);&quot;&gt;No Such Case Number Found&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: sans-serif; font-size: 16px; color: rgb(46, 46, 47);&quot;&gt;Case Number:-&lt;/b&gt;&lt;b style=&quot;font-family: sans-serif; font-size: 16px; color: rgb(224, 17, 24);&quot;&gt; &lt;/b&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 16px; color: rgb(224, 17, 24);&quot;&gt;   &lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px; color: rgb(224, 17, 24);&quot;&gt;{!Enter_Case_Number}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>See_Status_of_Previous_Case</name>
        <label>See Status of Previous Case</label>
        <locationX>564</locationX>
        <locationY>239</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Display_Case_Status</targetReference>
        </connector>
        <fields>
            <name>Enter_Case_Number</name>
            <dataType>String</dataType>
            <fieldText>Enter Case Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>78</locationX>
        <locationY>71</locationY>
        <connector>
            <targetReference>Create_New_Case_or_see_Status_of_old_Case_screen1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>casedata</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseNumber</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseOrigin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Web</stringValue>
        </value>
    </variables>
    <variables>
        <name>CaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>New</stringValue>
        </value>
    </variables>
    <variables>
        <name>Priority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>High</stringValue>
        </value>
    </variables>
    <variables>
        <description>Radio button to submit new Ticket</description>
        <name>unused2</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
