CommunityProject/force-app/main/default/flows/Tracking_Number_Status_Information.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <description>Display Output Base on Decision</description>
        <name>Decision_for_Tracking_Number</name>
        <label>Decision for Tracking Number</label>
        <locationX>661</locationX>
        <locationY>225</locationY>
        <defaultConnector>
            <targetReference>DisplayMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tracking_No_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MailData.Tracking_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Number</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Result</targetReference>
            </connector>
            <label>Tracking No. Found</label>
        </rules>
    </decisions>
    <description>Working latest</description>
    <interviewLabel>Tracking Number Status Information {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tracking Number Status Information</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Mail_Information</name>
        <label>Get Mail Information</label>
        <locationX>553</locationX>
        <locationY>343</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_for_Tracking_Number</targetReference>
        </connector>
        <filters>
            <field>Tracking_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Number</elementReference>
            </value>
        </filters>
        <object>Mail__c</object>
        <outputReference>MailData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Delivery_Status__c</queriedFields>
        <queriedFields>Delivery_Time__c</queriedFields>
        <queriedFields>Tracking_ID__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Display_Result</name>
        <label>Display Result</label>
        <locationX>860</locationX>
        <locationY>214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MailRecord</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 22px; font-family: sans-serif;&quot;&gt;Tracking Number:-&lt;/b&gt;&lt;span style=&quot;font-size: 18px; font-family: sans-serif; color: rgb(208, 19, 19);&quot;&gt;{!Number}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 22px; font-family: sans-serif;&quot;&gt;Name:-&lt;/b&gt;&lt;span style=&quot;font-size: 18px; font-family: sans-serif;&quot;&gt;{!MailData.Name}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 22px; font-family: sans-serif;&quot;&gt;Delivery Status:-&lt;/b&gt;&lt;span style=&quot;font-size: 18px; font-family: sans-serif;&quot;&gt;{!MailData.Delivery_Status__c}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 22px; font-family: sans-serif;&quot;&gt;Time of Delivery:-&lt;/b&gt;&lt;span style=&quot;font-size: 18px; font-family: sans-serif;&quot;&gt;{!MailData.Delivery_Time__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DisplayMessage</name>
        <label>DisplayMessage</label>
        <locationX>740</locationX>
        <locationY>540</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoTrackingNumberFound</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 22px; color: rgb(253, 19, 19);&quot;&gt;No Such Tracking# Found&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 22px; color: rgb(15, 31, 255);&quot;&gt;{!Number}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_lable</name>
        <label>Find Your Package Information Using Tracking Number</label>
        <locationX>357</locationX>
        <locationY>183</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Mail_Information</targetReference>
        </connector>
        <fields>
            <name>Number</name>
            <dataType>Number</dataType>
            <fieldText>Please Enter Tracking Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>screen_lable</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>MailData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Mail__c</objectType>
    </variables>
    <variables>
        <name>Tracking_No</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>yes</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
